babi/
CLEVR/
saved_models/
plots/

__pycache__/
.idea/

.ipynb_checkpoints/
iter_vs_loop_performances.ipynb

.env
.venv
.python-version
env/
venv/
ENV/
env.bak/
venv.bak/

./data
*/image_features
*/images
*/object_features
*/output
*/miniGQA