# Byte-compiled / optimized / DLL files
__pycache__/
glove.6B/
tasks_1-20_v1-2
# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
